* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #f1f5f9;
}

.layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background: linear-gradient(180deg, #0f172a, #1e293b);
  color: #fff;
  padding: 20px;
  transition: transform 0.3s ease;
}

.sidebar.show {
    transform: translateX(0);
  }
.sidebar.hidden {
  transform: translateX(-100%);
}

.brand {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul li {
  list-style: none;
  padding: 12px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.hamburger {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* Center icons when collapsed */
.sidebar.collapsed ul li {
  text-align: center;
}

.sidebar ul li:hover,
.sidebar ul li.active {
  background: rgba(255,255,255,0.15);
}

.sidebar.collapsed {
  width: 70px;
}

/* Main */
main {
 transition: margin-left 0.3s ease;
}

/* Topbar */
.topbar {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.theme-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* KPI */
.kpi {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.kpi-card {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  display: flex;
  gap: 15px;
  align-items: center;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.box {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
}

.active { color: green; }

/* Dark Mode */
body.dark {
  background: #020617;
  color: #e5e7eb;
}

body.dark .sidebar,
body.dark .box,
body.dark .kpi-card {
  background: #020617;
  border: 1px solid #1e293b;
}

/* Responsive */
@media (max-width: 768px){
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    z-index: 1000;
  }
}